body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  opacity: 0.6;
  padding: 1em;
  background-color: #333;
  color: green;
  border-radius: 2em;
  width: 99%;
}

footer {
  padding: 1em;
  background-color: #333;
  color: green;
  border-radius: 2em;
}

main {
  flex: 1;
  padding: 1em;
  background-color: #333;
  color: green;
  border-radius: 2em;
}

iframe {
  border-radius: 2em;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.icon img {
  height: 40px; /* Adjust the size as needed */
  margin-right: 20px; /* Space between icon and nav links */
}

.topnav {
  display: flex;
  flex-grow: 1;
}

.topnav a {
  color: green;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: green;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  border-radius: 2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: aquamarine;
  border-radius: 2em;
}

.bannerimage, .figureimage {
  width: 100%;
  height: 405px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2em;
}

.bannerimage {
  background-image: url(../images/Landscape.jpg);
  background-color: green;
  border-radius: 2em;
  padding: 2em;
  width: 100%;
  padding: 2px;
}

.figureimage {
  background-image: url(../images/Tree.jpg);
  background-color: green;
  margin: 0;
  border-radius: 2em;
}

.icon {
  filter: invert(19%) sepia(97%) saturate(7492%) hue-rotate(91deg) brightness(84%) contrast(122%);
}

.grid-item-2 {
  font-family: monospace;
  font-size: large;
  color: #333;
}
